<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prism Loading Screen</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="http://localhost:8008/stylesheets/parallaxStyle.css">
    <link rel="stylesheet" href="http://localhost:8008/stylesheets/main.css">
    <script type="text/javascript" src="http://localhost:8008/javascripts/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="http://localhost:8008/javascripts/main.js"></script>
    <script src="http://localhost:8008/javascripts/reg.js"></script>

</head>

<body>
<!-- BACK PARALLAX -->
<div id="particles-background" class="vertical-centered-box"></div>
<div id="particles-foreground" class="vertical-centered-box"></div>
<!-- BACK PARALLAX END-->


<div class="main">

    <div class="wind-chat">
        <div class="reg">
            <h1>Авторизация</h1>
            <hr>
            <form action="#">
                <input type="text" placeholder="Логин" id="login">
                <input type="password" placeholder="Пароль" id="pass">
                <button id="inSyte">Войти</button>
            </form>

        </div>
    </div>


</div>


<script src="http://localhost:8008/javascripts/parallax.js"></script>
<script src="http://localhost:8008/socket.io/socket.io.js"></script>


</body>
</html>
